.about {
    margin: 20px;
  }

  .about h1{
    text-align: center;
    position: relative;
    margin-bottom: 0%;
  }
  
  .about p{
    text-align: justify;
    position: relative;
    margin-left: 10%;
    margin-right: 30%;
    margin-top: -320px;
    font-size: 1.2rem; 
  }

  .resume{
    position: relative;
    margin-left: 25%;
    margin-top: 20px;
  }
  
  .about img {
    border-radius: 50%;
    width: 250px;
    height: 350px;
    position: relative;
    margin-left: 72%;
  }
  
  .logo-img {
    width: 150px; /* Logo width */
    height: 70px; /* Logo height */
  }

  .portafolio{

    position: relative;
    margin-left: 45%;
    margin-top: -20px;

  }

  .about h4{
    position: relative;
    text-align: right;
    margin-right: 12%;
    margin-top: 50px;
  }

  .about h5{
    position: relative;
    text-align: right;
    margin-right: 10%;
    margin-top: -15px;
  }

